@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Master>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="@Umbraco.Field("metaDescription", recursive: true)">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords", recursive: true)">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link href="~/Content/css/style.css" rel="stylesheet" />

    <title>@ViewBag.Title</title>

</head>

<body>
    <div class="container">
        <div class="row mainnav">     
            @Html.Partial("TopNav")
        </div>

    <div class="row body">
        @RenderBody()

    </div>

    <div class="row">
        @Html.Partial("footer")
    </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <!--<script>window.jQuery || document.write('<script src="~/Scripts/jquery-3.1.1.min.js"><\/script>')</script> -->   
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Content/js/custom.js"></script>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
</body>
</html>

