@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}
<div class="project">
    <div class="col-xs-12">
        <h1>
            @Umbraco.Field("projectTitle") <span class="@(Umbraco.GetPreValueAsString(CurrentPage.projectStatus).Equals("Completed") ? "Completed" : "Other")">(@Umbraco.GetPreValueAsString(CurrentPage.projectStatus))</span>
        </h1>
    </div>
    <div class="col-xs-12">
        @Umbraco.Field("projectDescription")
    </div>
</div>
@CurrentPage.GetProperty("projectStatus")
